@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

*{
  margin:0px;
  padding:0px;
  
  
}
*::-webkit-scrollbar {
  width: 1px;
  
}
.mom{
  height: 100vh;
  display: flex;
 flex-direction: column;
}

.container{
  height: 80rem;
  width:max-content;
display:flex;

flex-wrap: wrap;
cursor: pointer;
scroll-snap-type: mandatory;
overflow: scroll;

}

.container>.imgLister{
   margin: 10px;
}
.imgLister:hover{
  margin: 5px;
  transform:scale(1.15) translateZ(0);
  transition:2s;
  text-align:center;
  
}
.cc{
  width: 18em;
  height: 22em;
  margin: 5px;
  padding: 5px;
  object-fit: cover;
  border-radius: 1em;
}
.dd{
  background-image: linear-gradient(to right, red , yellow);
 text-align: center;
 justify-content: center;
 position: relative;
 bottom: 50px;
}
hr{
        border: none;
        height: 5px;
        background: #820505;
        background-image: linear-gradient(to right, #986603, #05786b, #f90404);
}

h1{
  background-color: transparent;
  font-family: 'Calligraffitti';
  font-weight:bolder;
  font-size: 50px;
  margin-top: 5px;
  text-align: center;

}
.form-control{
  background-color: transparent!important;
    border-color: transparent!important;
    outline:linen!important;

}

h2{
  color: #f90404;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: sticky;
  top: 2px;
  background-color: rgba(41, 48, 48,.6);

}
.navbar{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.footer{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215,.3);
}
ul{
  text-decoration: none;
}